.apply-list-wrapper {
  .header-tab {
    background-color: #fff;
  }  
  .bk-tab-content {
    padding: 0 !important;
  }
  .table-wrapper {
    margin: 24px 23px;
    background-color: #fff;
    padding: 24px;
  }
}