.target-group-list {
  height: 100%;

  .search-wrap {
    padding: 12px 24px;

    // 覆盖组件样式
    .bk-input {
      border-color: #fff;

      .bk-input--text {
        padding: 0 12px;
        background-color: #f0f1f5;
      }

      .bk-input--suffix-icon {
        background-color: #f0f1f5 !important;
      }

      &.is-focused {
        box-shadow: none;
      }
    }
  }

  .group-list-wrap {
    width: 300px;
    height: calc(100% - 56px);

    .prefix-icon {
      float: left;
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }

    .base-info {
      display: flex;
      align-items: center;
      width: calc(100% - 30px);

      .text-ov {
        display: flex;
        align-items: center;
      }
    }

    .ext-info {
      position: relative;

      .count {
        min-width: 24px;
        font-size: 12px;
        color: #c4c6cc;
        text-align: center;
      }

      .more-action {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -12px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        transition: background-color 0.2s;
        opacity: 0;

        .hcm-icon {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        &:hover {
          background-color: #dcdee5;
        }
      }
    }

    .show-dropdown {
      .count {
        opacity: 0;
      }

      .more-action {
        background-color: #dcdee5;
        opacity: 1;
      }
    }

    .all-groups-wrap,
    .group-item-wrap {
      padding: 0 16px;
      width: 100%;
      height: 36px;
      line-height: 36px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: #f0f1f5;

        .ext-info .count {
          opacity: 0;
        }

        .ext-info .more-action {
          opacity: 1;
        }
      }

      &.selected {
        background-color: #e1ecff;
      }
    }

    .all-groups-wrap {
      border: 1px solid #dcdee5;
    }

    .group-list {
      height: calc(100% - 36px);
      overflow-y: auto;
    }
  }
}
