.dropdown-popover-wrap {
  padding: 4px 0 !important;

  .dropdown-list {
    .dropdown-item {
      padding: 0 12px;
      line-height: 32px;
      cursor: pointer;

      &:hover {
        background-color: #f5f7fb;
      }
    }
  }
}