.selected-block-container {
  display: flex;

  .selected-block {
    margin-right: 18.25px;
    padding: 0 16px;
    height: 32px;
    background: #f0f5ff;
    border: 1px solid #a3c5fd;
    border-radius: 2px;
    line-height: 32px;    
  }
}
