.cert-manager-page {
  height: 100%;
  padding: 24px;
  overflow: hidden;
  box-sizing: border-box;

  .common-card-wrap {
    width: 100%;
    height: 100%;
    padding: 16px 24px;
    background-color: #fff;
    box-sizing: border-box;
  }
}

.cert-upload-sideslider {
  .bk-upload--button {
    .bk-button {
      width: 100px;
    }
    .bk-upload__tip {
      margin-left: 12px;
      color: #979ba5 !important;
    }
  }
}
