build
.idea
.workspace
.DS_Store
.git
.codecc
front/env.dev.js
node_modules/
index-dev.html
.vscode/
.envrc
front/settings.json
cmd/*-server/bk-hcm-*server
cmd/*-service/bk-hcm-*service
.run/
.vscode

pre-*-bkcodeai
front/.husky/pre-push
vetur.config.js
bkcodeai.json
