.account-form {

  .account-form-card {
    margin: 24px 0 16px 0;
    background-color: #FFFFFF;
    .account-form-card-title {
      font-weight: 700;
      font-size: 14px;
      color: #313238;
      letter-spacing: 0;
    }

    .account-form-card-content {
      padding: 16px 28px;
    }
  }

  .bk-card .bk-card-body {
    padding: 16px 24px!important;
  }

  .account-vendor-selector {
    display: grid;
    grid-template-columns: repeat(5, 120px);
    column-gap: 12px;
    .account-vendor-option {
      width: 120px;
      height: 40px;
      background: #F5F7FA;
      border-radius: 2px;
      display: flex;
      align-items: center;
      padding: 4px 7px 4px 4px;
      .account-vendor-option-icon {
        width: 32px;
        height: 32px;
        margin-right: 8px;
      }
      .account-vendor-option-text {
        font-size: 12px;
        color: #313238;
      }
    }
    .account-vendor-option-active {
      background-color: #E1ECFF;
      .active-icon {
        margin-left: auto;
      }
    }
  }
}
