.purchase-vpc-header-title {
  font-size: 16px;
  color: #313238;
}

.create-form-container {
  padding: 24px;
  margin-top: 52px;
}

.w110 {
  width: 110px;
}

.action-bar {
  .bk-button {
    padding: 0 30px;
  }
}