.detail-header-main {
  position: fixed;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 14px 24px;
  background: #fff;
  box-shadow: 1px 2px 3px 0 rgb(0 0 0 / 5%);
  box-sizing: border-box;
  .title-content {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #313238;
  }
}

.ml-24 {
  margin-left: -24px;
}

.detail-header-arrows-left {
  font-size: 24px;
  vertical-align: sub;
  display: inline-block;
  cursor: pointer;
  color: #5594fa;
}