.vpc-review-popover {
  .review-detail {
    padding: 0 16px;

    .detail-item {
      display: flex;
      align-items: center;
      height: 40px;
      font-size: 14px;

      .item-label {
        margin-right: 5px;
        width: 80px;
        text-align: right;
        color: #63656e;
      }
      .item-value {
        margin-left: 12px;
        flex: 1;
        color: #313238;
      }
    }
  }
}
