.local-table-container {
  .operation-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    .bk-radio-button-label {
      padding: 0 16px;
      font-size: 14px;
    }
  }
}
