.security-rule-table-container {
  margin-bottom: 16px;
  border: 1px solid #eaebf0;
  border-radius: 2px;

  .security-rule-table-header {
    padding: 0 16px;
    display: flex;
    align-items: center;
    height: 32px;
    background: #f0f1f5;
    border-radius: 2px 2px 0 0;
    font-size: 12px;
    cursor: pointer;

    .config-security-item-idx {
      display: inline-flex;
      align-items: center;
      margin-right: 8px;
      padding: 0 8px;
      height: 16px;
      background: #fff;
      color: #979ba5;
      border-radius: 2px;
    }

    .config-security-item-name {
      color: #313238;
    }

    .config-security-item-id {
      margin-left: 8px;
      color: #979ba5;
    }

    .config-security-item-btn {
      margin-left: auto;
    }
  }

  .exception-wrap-item .bk-exception-img {
    width: 200px;
  }
}
