.vendor-wrapper,
.sync-content-wrapper {
  margin: 16px 0 16px;

  .title {
    margin-bottom: 12px;
    font-size: 14px;
    color: #313238;
  }
}

.sync-content-wrapper {
  .item {
    span {
      line-height: 24px;
      display: inline-block;
    }

    span:first-of-type {
      width: 150px;
      text-align: right;

      &::after {
        content: ':';
        margin: 0 10px 0 5px;
      }
    }

    .money {
      font-family: MicrosoftYaHei-Bold;
      font-weight: 700;
      font-size: 16px;
      color: #ff9c01;
    }

    .count {
      font-family: MicrosoftYaHei;
      font-size: 14px;
      color: #313238;
    }
  }
}

.mb12 {
  margin-bottom: 12px;
}

.button {
  width: 88px;

  + .button {
    margin-left: 8px;
  }
}
