.remote-table-container {
  height: 100%;
  
  .operation-wrap {
    display: flex;
    justify-content: space-between;

    .operate-btn-groups {
      display: flex;

      .bk-button:not(:last-child) {
        margin-right: 12px;
      }

      .mw64 {
        min-width: 64px;
      }

      .mw88 {
        min-width: 88px;
      }

      .f26 {
        font-size: 26px;
      }
    }
  }

  .table-search-selector {
    margin-bottom: 16px;
    min-width: 500px;
  }

  .loading-table-container {
    height: calc(100% - 48px);
    min-height: 290px;

    .table-container {
      max-height: 100%;

      .table-new-row td {
        background-color: #f2fff4 !important;
      }
    }
  }

  &.no-search .loading-table-container {
    height: 100%;
  }
}
