.remote-table-container {
  height: 100%;

  .top-bar {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    gap: 12px;

    .operate-btn-groups {
      display: flex;
      align-items: center;

      :global(.bk-button) {
        min-width: 88px;
      }

      & > *:not(:last-child) {
        margin-right: 8px;
      }
    }

    .table-search-selector {
      margin-left: auto;
      width: 500px;
    }

    .operation-bar-end {
      display: flex;
      align-items: center;
      margin-left: 24px;
    }
  }

  &.no-search .operation-bar-end {
    margin-left: auto;
  }

  .loading-wrapper {
    min-height: 290px;

    :global(.bk-table) {
      max-height: 100%;
    }
  }

  :global(.table-new-row) {
    td {
      background-color: #f2fff4 !important;
    }
  }
}
