.form-item-tips {
  font-size: 12px;
}

.security-group-cls ::placeholder {
  color: #63656e;
}

.component-with-detail-container {
  display: flex;

  .component-with-detail {
    flex: 1;
    margin-right: 10px;
  }
}
