.form-item-tips {
  font-size: 12px;
}

.security-group-cls ::placeholder {
  color: #63656e;
}

.purchase-cvm-flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.component-with-detail-container {
  display: flex;
  align-items: center;
  .component-with-detail {
    flex: 1;
    margin-right: 10px;
  }
}

.create-form-container.cvm-wrap {
  padding: 24px;
  margin: 52px 0 66px;

  .sub-form-item-wrap {
    margin: 0 8px 0 0;
  }

  .data-disk-wrap {
    .flex-row {
      .bk-form-item {
        margin: 0 8px 8px 0;
      }
      &:last-child {
        .bk-form-item {
          margin: 0 8px 0 0;
        }
      }
    }
    .btns {
      margin-left: 10px;
      .btn {
        margin-right: 18px;
        padding: 0;
        border-style: none;
      }
    }
  }

  .purchase-cvm-form-item-subnet-wrap {
    position: relative;
    .automatic-allocation-checkbox {
      position: absolute;
      top: -32px;
      right: -10px;
      z-index: 999;
    }
  }

  .pwd-tips-mark {
    margin-left: 4px;
    font-size: 14px;
    cursor: pointer;
  }
}

.pwd-tips-content-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .pwd-tips-content-item {
    display: flex;

    .hcm-icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 18px;
    }
  }

  .hcm-icon {
    margin-right: 8px;
    font-size: 14px;

    &.success {
      color: #2dcb56;
    }
    &.error {
      color: #ea3636;
    }
  }
}

.purchase-cvm-header-title {
  font-size: 16px;
  color: #313238;
}

.purchase-cvm-bottom-bar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px 0 0;
  background: #fafbfd;
  border: 1px solid #dcdee5;
  z-index: 9999;

  .purchase-cvm-bottom-bar-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 387px;

    .purchase-cvm-bottom-bar-form-item-wrap {
      display: flex;
      height: 32px;

      .purchase-cvm-time {
        display: flex;

        .purchase-cvm-time-checkbox {
          width: 110px;
          padding-left: 32px;
        }
      }
    }

    .purchase-cvm-bottom-bar-form-count-wrap {
      padding-left: 130px;

      .purchase-cvm-bottom-bar-form-count-tip {
        margin-top: 4px;
        color: #979ba5;
        .purchase-cvm-bottom-bar-form-count-tip-num {
          color: #3a84ff;
          font-weight: bold;
        }
      }
    }

    .mb-12 {
      margin-bottom: -12px;
    }
  }

  .purchase-cvm-bottom-bar-info {
    margin-top: -16px;
    display: flex;
    align-items: center;

    .bk-button {
      min-width: 88px;
    }

    .purchase-cvm-cost-wrap {
      display: flex;
      align-items: center;

      .purchase-cvm-cost {
        margin-right: 24px;
        color: #ff9c01;
        font-size: 20px;
        font-weight: 700;
        text-align: right;
      }
    }
  }

  .mr32 {
    margin-right: 32px;
  }
}

.instance-name-tips {
  font-size: 12px;
  color: #979ba5;
  margin-top: 4px;
}

.subnet-selector-tips {
  font-size: 12px;
  display: flex;
  align-items: center;
  .subnet-create-tips {
    color: #ea3636;
    margin-right: 4px;
    font-size: 12px;
  }
}

.preview-dialog {
  .bk-modal-body {
    padding: 16px 24px;

    .bk-modal-header {
      margin-bottom: 20px;
      height: 28px;
      line-height: 28px;
      .bk-dialog-header {
        padding: 0;
        height: 28px;
      }
    }

    .bk-modal-content {
      padding: 0 0 20px;

      .bk-form-item {
        margin-bottom: 0;

        .bk-form-label {
          height: 40px;
          line-height: 40px;
          padding-right: 8px;
        }

        .bk-form-content {
          line-height: 40px;
          word-break: break-all;
        }
      }
    }
  }
}

.slider-unit-suffix {
  width: 55px;
  height: 32px;
  padding: 0 8px;
  border: 1px solid #c4c6cc;
  border-left-style: none;
  border-radius: 2px 0 0 2px;
  background-color: #fafbfd;
  box-sizing: border-box;
  text-align: center;
  user-select: none;
}
