.host-application-form-wrapper {
  .apply-form-wrapper {
    margin-top: 52px;
    padding: 24px;
  }

  .item-warp-component {
    width: 300px;
  }

  .card-title {
    margin: 16px 0;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    color: #313238;
  }

  .operation-column {
    height: 100%;
    display: flex;
    align-items: center;

    .more-action {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      cursor: pointer;

      & > i {
        position: absolute;
      }

      &:hover {
        background-color: #f0f1f5;
      }

      &.current-operate-row {
        background-color: #f0f1f5;
      }

      &.disabled {
        background-color: #fff;
        color: #dcdee5;
        cursor: not-allowed;
      }
    }
  }

  .statistics {
    font-size: 12px;
    margin-bottom: 4px;

    .label {
      color: #979ba5;
      margin-right: 8px;
    }

    .value {
      color: #ff9c01;
    }
  }

  .status-PASS {
    color: #2dcb56;
  }

  .status-FAILED {
    color: #ea3636;
  }

  .basic-top-row {
    .alert-content {
      margin-bottom: 24px;
      margin-top: -8px;

      .bk-alert {
        border: none;
      }
    }
  }
}

.add-resource-requirements-sideslider {
  .sideslider-layer {
    padding: 20px;
    background-color: #f5f7fa;

    .selection-box {
      width: 600px;
    }
  }

  .vpcOrSubnet-select {
    width: 600px;
  }

  .commonCard-form {
    display: flex;
    align-content: center;
  }

  .commonCard-text {
    margin-left: 56px;
    text-align: center;
    color: #63656e;
    font-weight: 400;
    font-size: 12px;
  }

  .commonCard-subnet-tag {
    font-size: 12px;
    color: #63656e;
  }

  .commonCard-network-title {
    font-size: 14px;
    margin-left: 5px;
  }

  .commonCard-form-select {
    width: 600px;
  }

  .idcpm-card {
    margin: 16px 0 32px;
  }

  .not-idcpm-card {
    margin-top: 15px;
  }

  .example-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .select-model {
      width: 290px;
    }

    .form-item-raid {
      margin-left: 15px !important;
      width: 285px;

      .raidText {
        background: #f5f7fa;
        border-radius: 2px;
        line-height: 32px;
        display: inline-block;
        padding: 0 10px;
        width: 100%;
      }
    }

    .select-Affinity {
      margin-left: 15px !important;
      width: 295px;
    }

    .input-demand {
      width: 290px;
    }
  }

  .form-item-tips {
    width: 760px;
    font-size: 12px;
    line-height: 20px;
    margin-top: 4px;

    .bk-link {
      font-size: 12px;
    }
  }

  .network-info-collapse-panel {
    box-shadow: none !important;

    &:not(:has(+ .bk-collapse-wrapper)) {
      margin-bottom: 24px;
    }

    .bk-collapse-header {
      margin-left: -40px;

      &:hover {
        background-color: transparent !important;
      }

      .bk-collapse-title {
        font-weight: 400;
      }

      .bk-collapse-icon {
        top: 17px;
        left: 24px;
        color: #979ba5;

        svg {
          font-size: 12px;
        }
      }
    }

    .bk-collapse-content {
      padding: 0 !important;

      .bk-form-item {
        margin-bottom: 16px !important;
      }
    }

    .cvm-vpc-selector,
    .cvm-subnet-selector {
      width: 600px;
    }
  }
}

.config-ticket-card {
  .tools-wrapper {
    display: flex;
    align-items: center;

    .button {
      margin-right: 8px;

      .prefix-icon {
        font-size: 20px;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.cvm-apply-sideslider {
  .custom-header-content {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.form-button-row {
  .bk-button {
    min-width: 86px;
  }
}
