.clb-detail-continer {
  .mr5 {
    margin-right: 5px;
  }
  .mb32 {
    margin-bottom: 32px;
  }
  .ml60 {
    margin-left: 60px;
  }
  .ml10 {
    margin-left: 10px;
  }
  .clb-detail-info-title {
    font-weight: 700;
    font-size: 14px;
    color: #313238;
  }
  .status-wrapper {
    display: flex;
    align-items: center;
  }
}

.cors-config-container {
  padding-top: 10px;

  .cors-config-item {
    display: flex;
    min-height: 40px;

    .cors-config-item-title {
      flex-shrink: 0;
      width: 120px;
      text-align: right;
      color: #63656e;

      &::after {
        content: ':';
        margin: 0 10px 0 5px;
      }
    }
    .cors-config-item-content {
      color: #313238;
    }

    .snat-ip-container {
      margin: 8px 0 24px;
      padding: 16px 24px;
      background: #f5f7fa;
      border-radius: 2px;

      .top-bar {
        margin-bottom: 16px;
        .desc {
          margin-left: 16px;
          font-size: 12px;
          color: #979ba5;
        }
      }
    }
  }

  .ml10 {
    margin-left: 10px;
  }
  .mr10 {
    margin-right: 10px;
  }
}
