.clb-detail-continer {
  .mr5 {
    margin-right: 5px;
  }
  .mb32 {
    margin-bottom: 32px;
  }
  .ml60 {
    margin-left: 60px;
  }
  .ml10 {
    margin-left: 10px;
  }
  .clb-detail-info-title {
    font-weight: 700;
    font-size: 14px;
    color: #313238;
  }
  .status-wrapper {
    display: flex;
    align-items: center;
  }
}
