.selected-host-count-tip {
  margin-bottom: 24px;
  .selected-host-count {
    color: #3A84FF;
    font-weight: bold;
  }
}

.mb32 {
  margin-bottom: 32px;
}

.batch-dialog {
  .bk-dialog-header { 
    padding: 16px 24px 20px !important;
  }
  .bk-modal-content {
    padding-top: 0 !important;
  }
}