.result-page {
  .result-page-card {
    padding: 16px 28px;
    padding: 0 auto;
    display: flex;
    justify-content: center;
    .result-page-content {
      text-align: center;
      .result-page-title {
        font-family: MicrosoftYaHei-Bold;
        font-weight: 700;
        font-size: 16px;
        color: #313238;
        margin-bottom: 8px;
      }
      .result-page-text {
        font-size: 14px;
        color: #63656e;
        margin-bottom: 16px;
      }
      .result-page-icon-success {
        width: 84px;
        height: 84px;
        margin-bottom: 22px;
      }
      .result-page-success-btn {
        margin-right: 12px;
      }
      .result-page-failure-box {
        width: 640px;
        height: 160px;
        background: #f5f7fa;
        border-radius: 2px;
      }
    }
  }

  .bk-card .bk-card-body {
    padding: 16px 24px !important;
  }
}
