.account-list-container {
  height: 100%;
  background-color: #FFFFFF;
  .search-input {
    margin: 10px 16px;
    border-radius: 2px;
    width: 90%;
    border-width: 0px;
  }
  .bk-input--text, .bk-input--suffix-icon {
    background: #F0F1F5!important;
  }
  .account-list-header {
    display: flex;
    margin: 2px 16px 12px;
    width: 90%;
    justify-content: space-between;
    .header-title {
      color: #979BA5;
    }
    // .header-btn {
    // }
  }
  .mr3 {
    margin-right: 3px;
  }
  .vendor-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
  .all-vendors {
    padding: 6px 0 8px 0;
    height: 36px;
    border-top: 1px solid #EAEBF0;
    border-bottom: 1px solid #EAEBF0;
  }
  .specific-vendor {
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;

    &:hover {
      background-color: #F5F7FA;
    }
  }
  .actived-specfic-account {
    position: relative;
    background-color: #e1ecff;

    &:hover {
      background-color: #e1ecff;
    }

    &::before {
      position: absolute;
      content: "";
      left: 0;
      width: 3px;
      height: 100%;
      background-color: #3a84ff;
    }
  }
}
