.listener-sideslider-container {
  .form-item-tips {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #979ba5;
  }
  .recommend-tag {
    margin-left: 4px !important;
  }

  .binded-target-group-show-container {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    .label {
      margin-right: 5px;
    }
  }
}