.input-select-warp{
  display: flex;
  align-items: center;
  border-left: none;
  .input-prefix-select {
    width: 90px;
  }
}
.tag-input-prefix-select{
  width: 130px;
}
.tag-input-select-warp{
  width: 200px;
  .bk-tag-input-trigger{
    border-radius: 0 2px 2px 0;
  }
}
.security-group-select{
  display: flex;
}