apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "bk-hcm.fullname" . }}-cloudserver-config
  labels: {{- include "common.labels.standard" . | nindent 4 }}
data:
  config.yaml: |-
    network:
      bindIP:
      port: {{ .Values.cloudserver.port}}
      tls:
        insecureSkipVerify:
        certFile:
        keyFile:
        caFile:
        password:
    service:
      etcd:
        {{- include "common.tplvalues.render" (dict "value" (include "bk-hcm.etcdConfig" .) "context" $) | nindent 8 }}
    log:
      {{- toYaml .Values.cloudserver.log | nindent 6 }}
    esb:
      endpoints:
        - {{ .Values.bkComponentApiUrl }}
      appCode: {{ .Values.appCode }}
      appSecret: {{ .Values.appSecret }}
      user: admin
      tls:
        insecureSkipVerify:
        certFile:
        keyFile:
        caFile:
        password:
    crypto:
      aesGcm:
        key: {{ .Values.crypto.aesGcm.key }}
        nonce: {{ .Values.crypto.aesGcm.nonce }}
    bkHcmUrl: {{ .Values.bkHCMUrl }}
    cloudResource:
      {{- toYaml .Values.cloudserver.cloudResource | nindent 6 }}
    recycle:
      {{- toYaml .Values.cloudserver.recycle | nindent 6 }}
    billConfig:
      {{- toYaml .Values.cloudserver.billConfig | nindent 6 }}
    itsm:
      {{- toYaml .Values.itsm | nindent 6 }}    
    cmsi:
      {{- toYaml .Values.cmsi | nindent 6 }}
    cloudSelection:
      {{- toYaml .Values.cloudserver.cloudSelection | nindent 6 }}
    taskManagement:
      {{- toYaml .Values.cloudserver.taskManagement | nindent 6 }}
    tenant:
      {{- toYaml .Values.tenant | nindent 6 }}
    cmdb:
      {{- toYaml .Values.cmdb | nindent 6 }}
    ccHostPoolBiz: {{ .Values.ccHostPoolBiz }}

