// 宽高
$size-navbar-height: 60px;
$size-sidebar-width: 289px;
$size-sidebar-close-width: 0px;
$size-sidebar-close-surplus: 15px;

// 字体大小
$size-first-text: 20px;
$size-important-text: 16px;
$size-normal-text: 14px;
$size-assist-text: 12px;
$line-height-base: 16px;
$line-height-medium: 16px;
$line-height-large: 18px;
$component-size-small: 26px;
$component-size-base: 32px;
$component-size-large: 38px;
$font-size-mini: 10px;
$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-medium: 16px;
$font-size-big: 18px;
$font-size-large: 20px;

// 边框
$border-color-base: #dcdee5;
$border-width-base: 1px;
$border-style-base: solid;
$border-radius-base: 2px;

// 字体颜色
$font-normal-color: #63656e;
$font-light-color: #979ba5;
$font-deep-color: #313238;

// 滑动栏
$color-scrollbar: #f5f5f5;
$color-scrollbar-thumb: #aaa;
$color-scrollbar-thumb-hover: #999;
$color-second-text: #666;

// 基础颜色
$primary-color: #3a84ff;
$success-color: #2dcb56;
$warning-color: #ff9c01;
$danger-color: #ea3636;
$default-color: #63656e;

// 背景颜色
$white: #fff;
$color-border: #dbdee4;
