.clone-security-dialog {
  .security-info {
    display: flex;
    align-items: center;
    gap: 100px;
    font-size: 14px;
    color: #4D4F56;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 25px;
    span {
      color: #313238;
    }
  }

  .security-rule {
    .title {
      margin-bottom: 16px;
      font-weight: 700;
      font-size: 14px;
      color: #4D4F56;
      line-height: 22px;
    }
  }
}