.cloud-service-tag {
  display: inline-flex;
  align-items: center;
  padding: 0 8px;
  height: 22px;
  line-height: 22px;
  border-radius: 11px;
  color: #63656E;
  background: #F0F1F5;
  &.small-tag {
    padding: 0 4px;
    height: 16px;
    line-height: 1;
    .name-text {
        display: inline-block;
        font-size: 12px;
        transform: scale(0.83);
        transform-origin: top;
    }
  }
  .cloud-icon {
    margin-right: 2px;
  }
  .name-text {
    font-size: 12px;
  }
  
}