.cloud-service-tag {
  display: inline-block;
  padding: 0 8px;
  height: 22px;
  line-height: 22px;
  border-radius: 11px;
  color: #63656E;
  background: #F0F1F5;
  .name-text {
    font-size: 12px;
  }
}