.template-detail-container {
  .detial-wrap {
    margin-top: 52px;
    padding: 24px;
    background-color: #fff;
    .title {
      margin-bottom: 10px;
      font-size: 14px;
      color: #63656e;
      font-weight: bold;
    }
    .subtitle {
      margin-top: 25px;
      margin-bottom: 5px;
      font-size: 12px;
      color: #63656e;
    }
  }
  .m24 {
    margin-top: 76px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

