.domain-list-page {
  height: 100%;

  .set-default-operation-wrap {
    display: flex;
    align-items: center;

    .cell-value {
      margin-right: 7px;
      color: #3a84ff;
      cursor: pointer;
    }
    .set-default-btn {
      display: none;
    }
  }

  .bk-table tbody tr:hover .set-default-btn {
    display: block;
  }
}

.batch-delete-listener-icon {
  font-size: 14px;
  color: #c4c6cc;
  cursor: pointer;
}

.domain-sideslider {
  .readonly-info {
    display: flex;
    align-items: center;
    height: 40px;

    .label {
      margin-right: 5px;
      width: 80px;
      text-align: right;
    }

    .value {
      margin-left: 10px;
      color: #313238;
    }

    &:last-of-type {
      margin-bottom: 12px;
    }
  }
}
