.domain-list-page {
  height: 100%;

  .set-default-operation-wrap {
    display: flex;
    align-items: center;

    .cell-value {
      margin-right: 7px;
      color: #3a84ff;
      cursor: pointer;
    }
    .set-default-btn {
      display: none;
    }
    .setting-btn {
      display: block;
    }
  }

  .bk-table tbody tr:hover .set-default-btn {
    display: block;
  }
}

.batch-delete-listener-icon {
  font-size: 14px;
  color: #c4c6cc;
  cursor: pointer;
}
