.amount-wrapper {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  > span:first-of-type {
    margin-right: 32px;
  }

  .money {
    font-weight: 700;
    font-size: 16px;
    color: #ff9c01;
    line-height: 24px;
  }

  &.vertical {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    > span:first-of-type {
      margin-right: 0;
    }
  }
}
