.rs-check-selector-container {
    padding-bottom: 12px;

    .rs-check-selector,
    .rs-check-selector-active {
        height: 40px;
        background: #F5F7FA;
        border-radius: 2px;
        width: 640px;
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        padding: 0 16px;
        cursor: pointer;
        border: 1px solid #ffffff00;
    }

    .rs-check-selector-active {
        background: #E1ECFF;
        border: 1px solid #A3C5FD;
        border-radius: 2px;
    }
}

.security-rule-container {
    .security-rule-container-title {
        font-weight: 700;
        font-size: 14px;
        color: #313238;
        margin-right: 16px;
    }

    .security-rule-container-desc {
        font-size: 12px;
        color: #979BA5;
    }

    .security-rule-container-operations {
        margin-top: 12px;
        display: flex;

        .security-rule-container-searcher {
            margin-left: auto;
        }
    }
}

.config-security-rule-contianer {
    .config-security-rule-operation {
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        .operation-search-input {
            margin-left: auto;
        }

        .f22 {
            font-size: 22px;
        }
    }

    .config-security-item,
    .config-security-item-active {
        height: 40px;
        background: #F5F7FA;
        border-radius: 2px;
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        padding: 9px 8px;
        cursor: pointer;

        .config-security-item-idx {
            margin-right: 11px;
            min-width: 21.76px;
            min-height: 16px;
            background: #FFFFFF;
            border-radius: 2px;
            text-align: center;
            color: #979BA5;
        }

        .config-security-item-name {
            font-size: 14px;
            color: #313238;
            line-height: 22px;
        }

        .config-security-item-id {
            margin-left: 8px;
            font-size: 12px;
            color: #979BA5;
            letter-spacing: 0;
            line-height: 20px;
        }

        .config-security-item-edit-block {
            margin-left: auto;
            display: flex;
            align-items: center;
            font-size: 12px;

            .mr27 {
                margin-right: 27px;
            }
        }
    }
}