.rs-check-selector-container {
  padding-bottom: 12px;

  .rs-check-selector,
  .rs-check-selector-active {
    height: 40px;
    background: #f5f7fa;
    border-radius: 2px;
    width: 100%;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    cursor: pointer;
    border: 1px solid #ffffff00;
  }

  .rs-check-selector-active {
    background: #e1ecff;
    border: 1px solid #a3c5fd;
    border-radius: 2px;
  }

  .disabled-button {
    cursor: not-allowed;
  }
}

.line {
  width: 100%;
  height: 1px;
  background-color: #eaebf0;
  margin: 0 auto;
  margin-bottom: 25px;
}

.security-rule-container {
  .specific-security-rule-tables {
    -ms-overflow-style: none;
    /* IE 和 Edge */
    scrollbar-width: none;
    /* Firefox */
    margin-top: 16px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
      /* Chrome、Safari 和 Opera */
    }
  }

  .security-rule-container-title {
    font-weight: 700;
    font-size: 14px;
    color: #313238;
    margin-right: 16px;
  }

  .security-rule-container-desc {
    font-size: 12px;
    color: #979ba5;
  }

  .security-rule-container-operations {
    margin-top: 12px;
    display: flex;

    .security-rule-container-searcher {
      margin-left: auto;
      display: flex;
    }
  }
}

.rs-check-icon {
  margin-left: auto;
}

.config-security-rule-contianer {
  .config-security-rule-operation {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    .search-input {
      margin-left: 200px;
      border-radius: 2px;
      border-width: 1px;
    }

    .f22 {
      font-size: 22px;
    }
  }

  .config-item-wrapper {
    .config-security-item,
    .config-security-item-new {
      height: 40px;
      border-radius: 2px;
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      padding: 9px 8px;
      cursor: pointer;

      .draggable-card-header-draggable-btn {
        color: #c4c6cc;
      }

      .config-security-item-idx {
        margin-right: 11px;
        min-width: 21.76px;
        min-height: 16px;
        background: #ffffff;
        border-radius: 2px;
        text-align: center;
        color: #979ba5;
      }

      .config-security-item-name {
        font-size: 14px;
        color: #313238;
        line-height: 22px;
      }

      .config-security-item-id {
        margin-left: 8px;
        font-size: 12px;
        color: #979ba5;
        letter-spacing: 0;
        line-height: 20px;
      }

      .config-security-item-edit-block {
        visibility: hidden;
      }
    }
  }

  .config-security-item {
    background: #f5f7fa;

    &:hover {
      background-color: #eaebf0;

      .config-security-item-edit-block {
        visibility: visible;
        margin-left: auto;
        display: flex;
        align-items: center;
        font-size: 12px;

        .mr27 {
          margin-right: 27px;
        }
      }
    }
  }

  .config-security-item-new {
    background-color: #f2fff4;

    &:hover {
      background-color: #e7f9ec;

      .config-security-item-edit-block {
        visibility: visible;
        margin-left: auto;
        display: flex;
        align-items: center;
        font-size: 12px;

        .mr27 {
          margin-right: 27px;
        }
      }
    }
  }
}

.search-result-highlight {
  color: #3a84ff;
}

.config-res-wrapper {
  display: flex;
  align-items: center;
  color: #63656e;

  .edit-icon {
    cursor: pointer;
  }
}
