.home {
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 4px 0 #1919290d;
  border-radius: 2px;
  padding: 16px 24px;
}

.title {
  font-size: 14px;
  color: #313238;
  font-weight: 700;
  line-height: 22px;
  display: block;
  margin-bottom: 16px;
}
