.record-detail-container {
  height: 100%;
  overflow: hidden;

  .header-title {
    font-size: 16px;
    color: #313238;
  }
  .header-content {
    font-size: 14px;
    color: #63656e;
  }
  .record-detail-info-card {
    background: #ffffff;
    box-shadow: 0 2px 4px 0 #1919290d;
    border-radius: 2px;
    height: 52px;
    margin: 0 24px;
    padding: 0 24px;
    margin-top: 76px;
    display: flex;
    align-items: center;
    .info-card-prefix {
      font-size: 14px;
      color: #313238;
      margin: 12px;
    }
    .info-card-num {
      font-size: 12px;
      color: #979ba5;
      margin-right: 76px;
    }
    .info-card-content {
      color: #313238;
      font-size: 14px;
      .info-card-highlight-num {
        color: #3a84ff;
      }
    }
    .info-card-btn {
      margin-left: auto;
    }
  }

  .main-wrapper {
    height: calc(100% - 168px);
    margin: 16px 24px 0px 24px;
    display: flex;
    .main-side-card {
      height: 100%;
      overflow-y: auto;
      background: #ffffff;
      box-shadow: 0 2px 4px 0 #1919290d;
      border-radius: 2px;
      flex: 1;
      padding: 16px 24px;
      margin-right: 16px;
      .main-side-card-title {
        font-weight: 700;
        font-size: 14px;
        color: #313238;
      }
      .main-side-card-timeline {
        margin-left: 8px;
        margin-top: 46px;
      }
    }
    .mian-list-card {
      height: 100%;
      box-shadow: 0 2px 4px 0 #1919290d;
      border-radius: 2px;
      flex: 4.4;
      overflow-y: auto;
    }
    .bk-tab-content {
      padding: 24px !important;
    }
  }
}

.use-flow-node-content {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #979ba5;
}

.use-flow-node-error-tag {
  display: flex;
  align-items: center;
  color: #ea3636;
}
