.scheme-selector {
  display: flex;
  align-items: center;
  .back-icon {
    margin-right: 0;
    font-size: 30px;
    color: #3a84ff;
    cursor: pointer;
  }
  .selector-trigger {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    cursor: pointer;
    &.opened {
      background: #E1ECFF;
      border-radius: 2px;
      .arrow-icon {
        color: #3a84ff;
        transform: rotate(-180deg);
      }
    }
    .scheme-name {
      font-size: 16px;
      color: #313238;
      line-height: 24px;
    }
    .arrow-icon {
      margin-left: 8px;
      font-size: 12px;
      color: #c4c6cc;
      transition: transform .3s cubic-bezier(.4,0,.2,1);
    }
  }
  .edit-btn {
    display: flex;
    align-items: center;
    margin-left: 24px;
    font-size: 12px;
    color: #3a84ff;
    cursor: pointer;
    .edit-icon {
      margin-right: 6px;
    }
  }
}
.resource-selection-scheme-list-popover.bk-popover {
  padding: 8px 0;
  .scheme-list {
    width: 480px;
    max-height: 400px;
    overflow: auto;
    .bk-loading-wrapper {
      display: block;
      padding: 50px 0;
    }
  }
  .scheme-item {
    padding: 16px 24px 22px;
    cursor: pointer;
    &:hover {
      background: #f5f7fa;
    }
    &.actived {
      background: #f0f5ff;
    }
    .scheme-name-area {
      display: flex;
      align-items: center;
      .name-text {
        font-size: 16px;
        font-weight: 700;
        color: #313238;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .deploy-type-tag {
        display: flex;
        align-items: center;
        padding: 0 8px;
        font-size: 12px;
        line-height: 22px;
        border-radius: 11px;
        color: #45A0A5;
        background: #D8F4F5;
      }
      .tag-list {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        .tag-item:not(:last-of-type) {
          margin-right: 8px;
        }
      }
    }
    .score-area {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      .score-item {
        font-size: 12px;
        line-height: 20px;
        color: #313238;
        .label {
          color: #63656e;
        }
      }
    }
  }
}
