.resource-head {
  display: flex;
  align-items: center;
}

.resource-select {
  width: 350px;
  margin-right: 30px;
}

.confirm-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resource-types {
  margin: 20px 0 0 20px;
}
