.resource-head {
  display: flex;
  align-items: center;
}

.resource-select {
  width: 350px;
  margin-right: 30px;
}

.resource-types-label {
  position: relative;
  top: -3px;
}

.resource-types {
  margin: 20px 0 0 20px;
  flex-wrap: wrap;
  
  .bk-checkbox {
    margin-left: 0 !important;
    margin-right: 30px !important;
    margin-bottom: 10px;
    &:last-child {
      margin-right: 0 !important;
    }
  }
}

.resource-is-error .bk-input {
  border-color: #ea3636;
}
