.dialog-alert {
  margin-bottom: 30px;
}

.email-tip {
  font-size: 12px;
  color: #63656e;
  display: flex;
  align-items: center;
  .hcm-icon {
    font-size: 14px;
    margin-right: 9px;
  }
  .email-tip-icon {
    color: #ea3636;
  }
  .email-tip-close {
    color: #ea3636;
  }
  .email-tip-check {
    color: #2dcb56;
  }
}
