.common-sideslider {
  .bk-modal-body {
    position: relative;

    .bk-modal-header {
    }

    .bk-modal-content .bk-sideslider-content {
      .common-sideslider-content {
        padding: 28px 40px 48px;
        overflow: auto;
      }
    }

    .bk-modal-footer .bk-sideslider-footer {
      position: absolute;
      bottom: 0;
      padding: 0 24px;
      width: 100%;
      height: 48px;
      background: #fafbfd;
      box-shadow: 0 -1px 0 0 #dcdee5;

      .bk-button {
        min-width: 88px;

        &:not(:last-child) {
          margin-right: 8px;
        }
      }
    }
  }
}
