.business-loadbalancer-module {
  height: 100%;
  background-color: #fff;

  .module-header {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 52px;
    box-shadow: 0 3px 4px 0 #0000000a;

    .title-wrap {
      position: absolute;
      left: 24px;
      font-size: 16px;
      color: #313238;
      line-height: 24px;
    }

    .tab-list-wrap {
      position: relative;
      left: -8px;
      display: flex;

      .tab-item {
        position: relative;
        padding: 0 24px;
        height: 52px;
        line-height: 52px;
        cursor: pointer;

        &.active {
          background-color: #f0f5ff;
          color: #3a84ff;

          &::before {
            position: absolute;
            content: '';
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #3a84ff;
          }
        }
      }
    }
  }

  .module-page-container {
    height: calc(100% - 52px);
  }
}

.has-selection {
  .bk-table .bk-table-head .bk-checkbox {
    vertical-align: middle;
  }
  .bk-table .bk-table-head tr th:nth-of-type(2) .cell {
    padding-left: 8px;
  }
  .bk-table .bk-table-body .cell.selection {
    text-align: right;
    .bk-checkbox {
      vertical-align: middle;
    }
  }
  .bk-table .bk-table-body tr td:nth-of-type(2) .cell {
    padding-left: 8px;
  }
}

.common-card-wrap {
  width: 100%;
  height: 100%;
  padding: 16px 24px;
  background-color: #fff;
  box-sizing: border-box;
}

.operate-groups {
  .bk-button {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.operate-text-btn,
.link-text-btn {
  color: #3a84ff;
  cursor: pointer;
}

.f20 {
  font-size: 20px;
}

// 负载均衡需求下的通用样式
.more-action-dropdown-menu {
  padding: 0 !important;
  .dropdown-list {
    padding: 4px 0;
    .dropdown-item {
      min-width: 58px;
      padding: 0 12px;
      line-height: 32px;
      cursor: pointer;

      &:hover {
        background-color: #f5f7fa;
      }

      &.disabled {
        color: #dcdee5;
        cursor: not-allowed;
      }
    }
  }
}
