.business-loadbalancer-module {
  height: 100%;

  .module-header {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 52px;
    box-shadow: 0 3px 4px 0 #0000000a;

    .title-wrap {
      position: absolute;
      left: 24px;
      font-size: 16px;
      font-weight: 700;
      color: #313238;
      line-height: 24px;
    }

    .tab-list {
      position: relative;
      left: -8px;
      display: flex;

      .tab-item {
        padding: 0 24px;
        height: 52px;
        line-height: 52px;
        cursor: pointer;

        &.active {
          position: relative;
          background-color: #f0f5ff;
          color: #3a84ff;

          &::before {
            position: absolute;
            content: '';
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #3a84ff;
          }

        }
      }
    }
  }

  .module-page-container {
  }
}
