.info-list-main {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.info-list-item {
  float: left;
  width: 30%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  line-height: 50px;
  .item-field {
    color: #63656E;
  }
  .item-value{
    color: #313238;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
    flex:1;
  }
}

.header-title-prefix {
  font-size: 16px;
  color: #313238;
  margin-left: 8px;
}

.header-title-content {
  font-size: 14px;
  color: #63656E;
}

.info-item-copy {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #5594fa;
}

.status-stopped {
  color: #ea3636;
}
.status-RUNNING{
  color: #2dcb56;
}
.status-STOPPING{
  color: #ff9c01;
}
