.info-list-main {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.info-list-item {
  float: left;
  width: 30%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  line-height: 50px;
}

.info-item-copy {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #5594fa;
}
