.info-list-main {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.info-list-item {
  float: left;
  width: 40%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  line-height: 40px;
  .item-field {
    font-size: 14px;
    width: 100px;
    margin-right: 5px;
    text-align: right;
    color: #63656E;
    &.has-tips span{
      position: relative;
      cursor: pointer;
      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        width: 100%;
        border-bottom: 1px dashed rgb(151, 155, 165);
      }
    }
  }
  .item-value{
    font-size: 14px;
    margin-left: 10px;
    color: #313238;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
    flex:1;
  }
}

.header-title-prefix {
  font-size: 16px;
  color: #313238;
}

.header-title-content {
  font-size: 14px;
  color: #63656E;
}

.info-item-copy {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #5594fa;
}

.status-stopped {
  color: #ea3636;
}
.status-RUNNING{
  color: #2dcb56;
}
.status-STOPPING{
  color: #ff9c01;
}
