.url-list-container {
  padding: 16px 24px;
  height: 100%;
  background-color: #ffffff;

  &.has-breadcrumb {
    height: calc(100% - 30px);
  }
}

.create-url-text-item {
  display: flex;
  align-items: center;
  height: 40px;

  .create-url-text-item-label {
    margin-right: 5px;
    width: 100px;
    text-align: right;
  }
  
  .create-url-text-item-value {
    margin-left: 10px;
    color: #313238;
  }

  &:last-of-type {
    margin-bottom: 12px;
  }
}

.url-status-container {
  display: flex;
  align-items: center;
  padding-top: 10px;
  line-height: 20px;
}

.url-sync-partial-success-status {
  border-bottom: 1px dashed rgb(151, 155, 165);
}

.target-group-name {
  &:hover {
    .target-group-edit-icon {
      color: #c4c6cc;
    }
  }
  .target-group-name-btn {
    font-size: 12px;
  }
  .target-group-edit-icon {
    color: #ffffff;
    margin-left: 4px;
    cursor: pointer;
    &:hover {
      color: #3a84ff;
    }
  }
  .submit-edition-icon {
    cursor: pointer;
    &:hover {
      color: #3A84FF;
    }
  }
}
