@font-face {
	font-family: "hcm";
	src: url("fonts/iconcool.svg#iconcool") format("svg"),
url("fonts/iconcool.ttf") format("truetype"),
url("fonts/iconcool.woff") format("woff"),
url("fonts/iconcool.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

.hcm-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hcm' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-align: center;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bkhcm-icon-minus-circle:before {
	content: "\e14a";
}
.bkhcm-icon-plus-circle:before {
	content: "\e10c";
}
.bkhcm-icon-template-orchestration:before {
	content: "\e154";
}
.bkhcm-icon-check-circle-fill:before {
	content: "\e128";
}
.bkhcm-icon-close-circle-fill:before {
	content: "\e127";
}
.bkhcm-icon-prompt:before {
	content: "\e125";
}
.bkhcm-icon-question-circle-fill:before {
	content: "\e126";
}
.bkhcm-icon-zoomout:before {
	content: "\e12b";
}
.bkhcm-icon-link:before {
	content: "\e122";
}
.bkhcm-icon-fullscreen:before {
	content: "\e12a";
}
.bkhcm-icon-set-fill:before {
	content: "\e14e";
}
.bkhcm-icon-info-line:before {
	content: "\e149";
}
.bkhcm-icon-arrows-up:before {
	content: "\e148";
}
.bkhcm-icon-7chenggong-01:before {
	content: "\e11f";
}
.bkhcm-icon-38moxingshibai-01:before {
	content: "\e120";
}
.bkhcm-icon-batch-edit:before {
	content: "\e14d";
}
.bkhcm-icon-file:before {
	content: "\e147";
}
.bkhcm-icon-down-shape:before {
	content: "\e101";
}
.bkhcm-icon-minus-circle-shape:before {
	content: "\e124";
}
.bkhcm-icon-plus-circle-shape:before {
	content: "\e129";
}
.bkhcm-icon-right-shape:before {
	content: "\e107";
}
.bkhcm-icon-loading-circle:before {
	content: "\e109";
}
.bkhcm-icon-bianji:before {
	content: "\e11d";
}
.bkhcm-icon-fenxiang:before {
	content: "\e11e";
}
.bkhcm-icon-jiantou_fanhui:before {
	content: "\e14c";
}
.bkhcm-icon-arrows--right--line:before {
	content: "\e106";
}
.bkhcm-icon-arrows--left-line:before {
	content: "\e103";
}
.bkhcm-icon-angle-up-fill:before {
	content: "\e108";
}
.bkhcm-icon-more-fill:before {
	content: "\e14b";
}
.bkhcm-icon-grag-fill:before {
	content: "\e11c";
}
.bkhcm-icon-operation-record:before {
	content: "\e155";
}
.bkhcm-icon-jump-fill:before {
	content: "\e123";
}
.bkhcm-icon-exchange-line:before {
	content: "\e151";
}
.bkhcm-icon-invisible1:before {
	content: "\e104";
}
.bkhcm-icon-edit:before {
	content: "\e105";
}
.bkhcm-icon-yuyanqiehuanzhongwen:before {
	content: "\e10d";
}
.bkhcm-icon-yuyanqiehuanyingwen:before {
	content: "\e10e";
}
.bkhcm-icon-yuyanqiehuanriwen:before {
	content: "\e10f";
}
.bkhcm-icon-not-favorited:before {
	content: "\e10b";
}
.bkhcm-icon-collect:before {
	content: "\e10a";
}
.bkhcm-icon-shezhi:before {
	content: "\e121";
}
.bkhcm-icon-cuo:before {
	content: "\e119";
}
.bkhcm-icon-dui:before {
	content: "\e118";
}
.bkhcm-icon-tishi:before {
	content: "\e117";
}
.bkhcm-icon-jiazai:before {
	content: "\e116";
}
.bkhcm-icon-abnormal:before {
	content: "\e115";
}
.bkhcm-icon-normal:before {
	content: "\e114";
}
.bkhcm-icon-default:before {
	content: "\e113";
}
.bkhcm-icon-success:before {
	content: "\e110";
}
.bkhcm-icon-failed:before {
	content: "\e111";
}
.bkhcm-icon-waiting:before {
	content: "\e112";
}
.bkhcm-icon-warning-2:before {
	content: "\e11a";
}
.bkhcm-icon-unknown:before {
	content: "\e11b";
}
.bkhcm-icon-lishijilu:before {
	content: "\e15b";
}
.bkhcm-icon-jiangxu:before {
	content: "\e12c";
}
.bkhcm-icon-paiming:before {
	content: "\e12d";
}
.bkhcm-icon-shengxu:before {
	content: "\e12e";
}
.bkhcm-icon-shouqi:before {
	content: "\e12f";
}
.bkhcm-icon-xuanze:before {
	content: "\e130";
}
.bkhcm-icon-zhankai:before {
	content: "\e131";
}
.bkhcm-icon-bushu:before {
	content: "\e132";
}
.bkhcm-icon-gugeyun:before {
	content: "\e133";
}
.bkhcm-icon-yamaxunyun:before {
	content: "\e136";
}
.bkhcm-icon-tengxunyun:before {
	content: "\e135";
}
.bkhcm-icon-weiruanyun:before {
	content: "\e134";
}
.bkhcm-icon-aliyun:before {
	content: "\e137";
}
.bkhcm-icon-huaweiyun:before {
	content: "\e138";
}
.bkhcm-icon-home:before {
	content: "\e139";
}
.bkhcm-icon-security-group:before {
	content: "\e13a";
}
.bkhcm-icon-eip:before {
	content: "\e13b";
}
.bkhcm-icon-loadbalancer:before {
	content: "\e13e";
}
.bkhcm-icon-recyclebin:before {
	content: "\e13c";
}
.bkhcm-icon-image:before {
	content: "\e13d";
}
.bkhcm-icon-route-table:before {
	content: "\e13f";
}
.bkhcm-icon-network-interface:before {
	content: "\e140";
}
.bkhcm-icon-disk:before {
	content: "\e141";
}
.bkhcm-icon-cert:before {
	content: "\e143";
}
.bkhcm-icon-host:before {
	content: "\e142";
}
.bkhcm-icon-subnet:before {
	content: "\e144";
}
.bkhcm-icon-vpc:before {
	content: "\e145";
}
.bkhcm-icon-automatic-typesetting:before {
	content: "\e146";
}
.bkhcm-icon-alert:before {
	content: "\e159";
}
.bkhcm-icon-jiebang:before {
	content: "\e156";
}
.bkhcm-icon-mubiao:before {
	content: "\e158";
}
.bkhcm-icon-user-8:before {
	content: "\e15a";
}
