@font-face {
	font-family: "bk";
	src: url("fonts/iconcool.svg#iconcool") format("svg"),
url("fonts/iconcool.ttf") format("truetype"),
url("fonts/iconcool.woff") format("woff"),
url("fonts/iconcool.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

.bk-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bk' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-align: center;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-automatic-typesetting:before {
	content: "\e107";
}
.icon-plus-circle:before {
	content: "\e142";
}
.icon-down-shape:before {
	content: "\ef96";
}
.icon-right-shape:before {
	content: "\efb9";
}
.icon-arrows--right--line:before {
	content: "\630";
}
.icon-arrows--left-line:before {
	content: "\631";
}
.icon-angle-up-fill:before {
	content: "\67f";
}
.icon-invisible1:before {
	content: "\27ff";
}
.icon-edit:before {
	content: "\2f03";
}
.icon-not-favorited:before {
	content: "\4d0d";
}
.icon-collect:before {
	content: "\4d11";
}
