.bill-manage-module {
  height: 100%;

  .main-container {
    height: calc(100% - 88px);
    padding: 24px;

    .ml-auto {
      margin-left: auto;
    }

    .money {
      font-family: MicrosoftYaHei-Bold;
      font-weight: 700;
      font-size: 16px;
      color: #ff9c01;
    }
  }

  .bk-tab {
    height: 100%;

    .bk-tab-header-item {
      padding: 0 24px;
    }

    .bk-tab-content {
      height: calc(100% - 40px);
      padding: 0;
    }
  }

  .red {
    color: #EA3636;
  }
  .green {
    color: #00A62B;
  }
  .currency {
    border-radius: 11px;
    line-height: 22px;
    padding: 0 8px;
    font-size: 12px;
    display: inline-block;
    color: white;
    background-color: #5575A1;
  }
  .usd {
    background-color: #8EA082;
  }
  .cny {
    background-color: #5575A1;
  }
  .change-currency {
    margin-left: 24px;
    vertical-align: middle;
  }
  .current-currency {
    display: flex;
    align-items: center;
    gap: 2px;
    justify-content: end;
    .dollar {
      color: #C4C6CC;
    }
    .arrow-right {
      color: #F59500;
      font-size: 14px;
    }
  }
}
