.bill-manage-module {
  height: 100%;

  .main-container {
    height: calc(100% - 88px);
    padding: 24px;

    .ml-auto {
      margin-left: auto;
    }

    .money {
      font-family: MicrosoftYaHei-Bold;
      font-weight: 700;
      font-size: 16px;
      color: #ff9c01;
    }
  }

  .bk-tab {
    height: 100%;

    .bk-tab-header-item {
      padding: 0 24px;
    }

    .bk-tab-content {
      height: calc(100% - 40px);
      padding: 0;
    }
  }

  .red {
    color: #EA3636;
  }
  .green {
    color: #00A62B;
  }
}
