.batch-operation-dialog {
  .bk-modal-header .bk-dialog-header {
    padding: 16px 24px;
    .bk-dialog-title {
      color: #313238;
    }
  }
  .bk-modal-content .batch-operation-dialog-content {
    .tips {
      margin-bottom: 12px;
      span {
        font-weight: 700;
        &.blue {
          color: #3a84ff;
        }
        &.green {
          color: #14A568;
        }
        &.red {
          color: #ea3536;
        }
      }
    }
  }
  .bk-modal-footer {
    .bk-button {
      min-width: 64px;
    }
  }
  .bk-modal-close {
    top: 0 !important;
    right: 4px !important;
    font-size: 28px !important;
  }
}
