.batch-operation-dialog {
  .bk-modal-content{
    height: 500px;
    overflow-y: auto;
  }
  .batch-operation-dialog-content {
    .tips {
      margin-bottom: 12px;
      font-size: 14px;
      span {
        margin: 0 4px;
        font-weight: 700;
        &.blue {
          color: #3a84ff;
        }
        &.green {
          color: #14A568;
        }
        &.red {
          color: #ea3536;
        }
      }
    }
  }
  .bk-modal-footer {
    .bk-button {
      min-width: 64px;
    }

    .dialog-cancel {
      margin-left: 8px;
    }
  }
  .bk-modal-close {
    top: 0 !important;
    right: 4px !important;
    font-size: 28px !important;
  }
}
