.selected-block-container {
  display: flex;
  align-items: center;
  
  .selected-block {
    margin-right: 18.25px;
    padding: 0 16px;
    height: 32px;
    background: #f0f5ff;
    border: 1px solid #a3c5fd;
    border-radius: 2px;
    line-height: 32px;    
  }
}

.instance-price {
  color: #ff9c01;
}

.instance-type-search-seletor-container {
  display: flex;
  align-items: center;
  justify-content: left;

  .instance-type-search-seletor {
    margin-left: auto;
  }
      
}

.selected-block-dialog-form {
  .bk-form-item {
    margin-bottom: 16px;
  }
}