.image-selector-selected-block-container {
  display: flex;
  align-items: center;

  .selected-block {
    margin-right: 18.25px;
    padding: 0 16px;
    min-height: 32px;
    background: #f0f5ff;
    border: 1px solid #a3c5fd;
    border-radius: 2px;
    line-height: 32px;
  }
}

.security-dialog-wrap {
  .bk-modal-header {
    .bk-dialog-header {
      height: 52px;
      padding: 16px 24px 8px;
    }
  }

  .bk-modal-content {
    overflow: hidden !important;

    .bk-nested-loading {
      height: 100%;
    }
  }

  .bk-modal-close {
    top: 0;
    font-size: 30px;
  }
}

.security-container {
  display: flex;
  height: 100%;

  .security-list {
    padding: 12px 16px 4px;
    flex-shrink: 0;
    width: 280px;
    max-height: 100%;
    background: #fafbfd;

    & > .bk-nested-loading {
      height: calc(100% - 40px);
    }
  }

  .security-group-rules-wrap {
    padding: 12px 0 12px 24px;
    flex: 1;
    height: 100%;

    & > .bk-nested-loading {
      height: 100%;
    }

    .security-group-rules-container {
      display: flex;
      flex-direction: column;
      height: 100%;

      .security-group-rules-list {
        flex: 1;
        max-height: 60vh;

        // .draggable-container {
        //   .draggable-card-container {
        //     overflow: hidden;
        //   }
        // }
      }
    }
  }
}

.security-selector-tips {
  font-size: 12px;
}

.security-search-item {
  //margin-top: 14px;
  height: 36px;
  line-height: 36px;

  .bk-checkbox {
    width: 100%;
  }

  .bk-checkbox-input {
    flex-shrink: 0;
  }

  .bk-checkbox-label {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.security-group-rules-container {
  height: 60vh;
}

.fade-move,
.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: scaleY(0.01) translate(30px, 0);
}

.fade-leave-active {
  position: absolute;
}

.draggable-container {
  background-color: #fff;
}
.security-group-rules-btn-group-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
