.security-relate-page {
  max-height: 100%;
  .top-bar {
    display: flex;
    align-items: center;
  }

  .table-wrap {
    margin-top: 16px;
    height: calc(100% - 48px);
  }

  .mw88 {
    min-width: 88px;
  }

  .ml12 {
    margin-left: 12px;
  }

  .f22 {
    font-size: 22px;
  }
}
