.host-operations-selection-tip {
  color: #313238;
  margin-bottom: 8px;

  .host-operations-selection-tip-all {
    color: #3a84ff;
    font-weight: bold;
  }

  .host-operations-selection-tip-target {
    color: #2dcb56;
    font-weight: bold;
  }

  .host-operations-selection-tip-untarget {
    color: #ea3636;
    font-weight: bold;
  }
}

.more-action-item {
  &.disabled {
    color: #dcdee5;
    cursor: not-allowed;
  }
}
