.listener-list-page {
  height: 100%;
}
.batch-delete-listener-dialog {
  .bkhcm-icon-minus-circle-shape {
    font-size: 14px;
    color: #c4c6cc;
  }
}

.rs-weight-col {
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    width: 14px;
    height: 16px;
    line-height: 16px;
    border-radius: 2px;
    font-style: 10px;
    text-align: center;
  }
  .exception {
    background-color: #ffeeee;
    color: #ea3536;
  }
  .normal {
    background-color: #effaf0;
    color: #14a568;
  }
}
