.detail-warp {
  .formItem-cls {
    width: 50%;
  }
}

.account-edit-icon {
  color: #3a84ff;
  cursor: pointer;
}

.button-warp {
  text-align: right;
}

.icon-disabled {
  color: #dcdee5;
}

.info-value {
  color: #313238;
}

.account-detail-edit-icon-font {
  color: #3A84FF;
  font-weight: normal;
  cursor: pointer;
}